<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Mitr:wght@500&display=swap" rel="stylesheet" />
        <script type="importmap"> { "imports": {"vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"} } </script>
        <script src="config.js"></script>
        <script src="app.js" type="module"></script>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div id="app">
            <div v-html="emojiHTML"></div>
            <div class="container" v-show="emojiMenu">
                <div class="header-emoji">Tempest emoji</div>
                <div class="emoji">
                    <div class="value-emoji" v-for="(emo, index) in emojiData[selectedType]" @click="selectEmoji(index)">
                        <img :src="`${emo}`" />
                        <div
                            class="remove-emoji"
                            v-if="selectedType === 'user'"
                            @click="removeMyEmoji(index)"
                            >
                            <img src="images/delete.png" />
                        </div>
                    </div>
                    <div class="value-emoji" v-if="selectedType === 'user'" @click="addingEmoji"><img src="images/add.png"></div>
                </div>
                <div class="emoji-type">
                    <div
                        v-for="(value, type) in emojiData"
                        :key="type"
                        class="emoji-category"
                        :id="type"
                        @click="selectCategory(type)"
                        :style="{
                            backgroundColor:
                                type === selectedType
                                    ? 'rgb(210, 59, 230)'
                                    : 'rgba(162, 35, 247, 0.1)'
                        }"
                    >
                        <img :src="`images/${type}.png`" />
                    </div>
                </div>
            </div>
            <div class="add-link-input" v-show="newEmoteInput">
                <input type="text" v-model="newEmojiUrl" placeholder="Emoji URL" />
                <div class="add-link-button" @click="addMyEmoji">Add</div>
            </div>
        </div>
    </body>
</html>
